body {
    background-image: url("./img/lake.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.caroPic {
    max-height: 500px;
}
.caroPicReel {
    max-height: 500px;
    padding-right: 10vw;
}

.logo {
    max-height: 200px;
}
